.input {
  border: none;
  border-bottom: 1px solid;
  &::placeholder {
    color: white;
    opacity: 0.9;
  }
}

label.vfl-label {
  color: $text;
  &.vfl-label-on-input {
    color: $text;
  }
  &.vfl-label-on-focus {
    color: $text;
  }
}
