$footer-height: 200px;

/**************
 *   Colors   *
 **************/
$blue-medium: #0053b3;
$blue-light: #007aff;
$blue-dark: #00245f;
$color-input: #abb8cb;

$white: hsl(0, 0%, 100%);
$white-20: rgba($white, 0.2);
$black: #1c1c1c;
$gray: hsl(0, 0%, 90%);
$light-gray: hsl(0, 0%, 94%);
$dark-gray: hsl(0, 0%, 65%);

/*************
 *   Bulma   *
 *************/
$text: $white;
$text-strong: $white;
$background: $blue-light;
$primary: $blue-light;
$family-sans-serif: 'Source Sans Pro', sans-serif;
$link: $white;
$link-hover: $white;
$title-color: $text;
$menu-item-radius: 0;
$radius-small: 0;
$radius: 2px;

//Navbar
$navbar-item-hover-background-color: transparent;
$navbar-item-color: $white;
$navbar-item-img-max-height: none;

//Title
$subtitle-color: $text;

// Forms
$label-color: $blue-medium;
$input-background-color: transparent;
$input-border-color: $color-input;
$input-hover-border-color: $color-input;
$input-color: $black;
$input-hover-color: $color-input;
$input-shadow: none;
$input-focus-box-shadow-size: 0;
$input-focus-border-color: $color-input;

// Buttons
$button-color: $primary;
$button-hover-color: $button-color;
$button-background-color:transparent;
